<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/index.css">
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <style>
    .list-group > .list-group-item {
      margin: 0 200px;
      border-bottom: none;
    }

    .list-group > .list-group-item:last-of-type {
      border-bottom: 1px solid #ddd;
    }

    .badge:nth-of-type(1){
      background-color: #5cb85c;
    }

    .badge:nth-of-type(2){
      background-color: #f0ad4e;
    }
  </style>
</head>

<body>
  <!-- 导航条区域 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">飞鸿博客</a>
      </div>

      <!-- 文章搜索区 -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入关键字">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>

        <% if(islogin) {
            %>
        <!-- 欢迎和注销按钮组 -->
        <div class="nav navbar-nav navbar-right navbar-form">
          <button class="btn btn-warning"><strong>欢迎
              <%= user.nickname %></strong> </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
            注销
          </button>
          <!-- 注销信息的模态框-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                      style="color:red;">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">
                    <p>您确定要注销当前用户的所有信息?</p>
                  </h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                  <a type="button" class="btn btn-primary btnWithdraw" href='/withdraw'>是的,确定注销</a>
                  <!-- <button type="button" class="btn btn-primary btnWithdraw">是的,确定注销</button>  -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 下拉项 -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">发表<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/article/add">新建文档</a></li>
              <li><a href="/article/article_info">我的文章列表</a></li>
            </ul>
          </li>
        </ul>
        <%}else{
        %>
        <!-- 注册登录按钮组 -->
        <div class="nav navbar-nav navbar-right navbar-form">
          <a class="btn btn-success" href="/login">登录</a>
          <a class="btn btn-success" href="/register">注册</a>
        </div>
        <% } %>

      </div>


    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <h1 class="text-center">文章列表</h1>
  <ul class="list-group">
    <%  articles.forEach(function(item) {
      %> 
      <li class="list-group-item">
        <a href="/article/browseArticle/<%= item.id %>"><%= item.title %></a>
        <span class="badge"><%= item.ctime %></span>
        <span class="badge"><%= item.nickname %></span>
      </li>
       <%
    }) %>
  </ul>
  
  <!-- 分页区域 -->
  <nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
      <li  class="<%= (nowPage - 1) < 1 ? 'disabled' : '' %>">
        <<%= (nowPage - 1) < 1 ? 'span' : 'a' %> href="/?page=<%= (nowPage - 1) < 1 ? 1 : (nowPage - 1) %>" aria-label="Previous" >
          <span aria-hidden="true">&laquo;</span>
        </<%= (nowPage - 1) < 1 ? 'span' : 'a' %>>
      </li>
      <%  for(var i = 0;i < pageCount; i++){
        %> 
        <li class="<%= nowPage === (i+1) ? 'active' : '' %>"><a href="/?page=<%= i+1 %>"><%= i+1 %></a></li>
        <%
      }
      
      %>
      <li class="<%= (nowPage + 1) > pageCount ? 'disabled' : '' %>">
        <<%= (nowPage + 1) > pageCount ? 'span' : 'a' %> href="/?page=<%= (nowPage + 1) > pageCount ? pageCount : (nowPage + 1) %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </<%= (nowPage + 1) > pageCount ? 'span' : 'a' %>>
      </li>
    </ul>
  </nav>

  <!-- 底部版权信息 -->
  <div class="text-center text-muted">飞鸿程序员交流博客 &copy; 2019</div>
  <!-- <script src="/views/main.js"></script> -->
</body>

</html>